{% extends 'home.html' %}
{% block body %}

<form method = 'POST'  action = '/files_page'>
    <h3> enter file : </h3>
    <input value = 'Click to enter file' type = 'submit'>
    </form>

<form method = 'POST' action='/search'>
    <h3>search an id: </h3>
    <input type="text" name="id">
    <input type="submit" value="search">

</form>    
<table border = 1>
    <tr>
        {% for head_title in head_titles %}
        <th>{{ head_title }}</th>
        {% endfor %}
        </tr>
    {% for rs in result %}
            <tr>
                <td>{{ rs.id }}</td>
                <td><a href="/link_data/{{rs.id}}">{{rs.title}}</a></td>
                <td>{{ rs.price }}</td>
                <td>{{ rs.description }}</td>
                <td>{{ rs.category }}</td>
                <td>{{ rs.image }}</td>
                <td>{{ rs.rating.rate }}</td>
                <td>{{ rs.rating.count }}</td>
            </tr>
    {% endfor %}
</table>
<form method = 'POST'  action = '/edit'>
    <h3> enter id to edit title : </h3>
    <input type = 'text', name = 'id'>
    <h3> enter title : </h3>
    <input type = 'text', name = 'title'>
    <input value = 'Submit' type = 'submit'>
    </form>
{% endblock %}